body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HOME PAGE */
/* +++++++++ */

/* search input */
#main-search {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.stork-progress {
    position: relative !important;
}

/* features */
.feature {
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    transition: 0.4s;
}

.feature:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15), 0 12px 40px 0 rgba(0, 0, 0, 0.1);
}

.feature a {
    color: black;
    text-decoration: none;
}

/* FOOTER */
.sicon {
    width: 25px;
}





