body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a { color: #3765a3; }
a:hover { color: #003c63; }

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

/* SEARCH INTERFACE (STORK) */

#sitesearch {
    background: #f3f2f1;
    border-bottom: 2px black solid;
    border-top: 2px black solid;
    padding-bottom: 100px;
}

#search-btn {
    background-color: inherit;
    border: none;
    border-radius: 0px;
    background-color: #3765a3;
    color: white;
}

#sitesearch input {
    border: 2px solid black;
    border-radius: 0px;
}

.stork-progress {
    position: relative !important;
}

.stork-message {
    background-color: #f3f2f1 !important;
    border: none !important;
    box-shadow: none !important;
}

.stork-results {
    list-style-type: none;
    padding-left: 0px;
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.stork-result {
    border-top: 2px solid black;
    padding-top: 10px;
    padding-bottom: 20px;
}

.stork-title {
    font-size: 1.75rem;
    font-weight: 700;
    color: #3765a3;
}

.stork-result:hover .stork-title {
    text-decoration: underline;
    color: #003c63;
}

.stork-result a {
    color: black;
    text-decoration: none;
}

.stork-message {
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 15px;
}

.stork-close-button {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 2px solid black;
}

#main-header {
    background-color: #3765a3;
    /* background-color: #003c63; */
    color: white !important;
    /* border-bottom: 2px solid black; */
}

#main-header a {
    color: white !important;
}

#main-header a:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
}

#main-header a.active {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
}

/* HOME PAGE */
/* +++++++++ */

/* search input */

/* features */
.card.feature {
    border: none;
    border-radius: 0px;
    border-top: 2px solid black;
}

/* FOOTER */
#site-footer .container .row:first-of-type {
    border-top: 2px solid black;
}

#site-footer a {
    color: black;
    text-decoration: none;
}

.sicon {
    width: 30px;
}

/* PAGE STYLES */
#page-content p:first-of-type {
    /* font-size: 1.5rem; */
}

#page-content p {
    text-align: justify;
    text-justify: auto;
}

#toc a {
    font-size: inherit !important;
}

#toc a:hover {
    color: #003c63;
    border-left: 2px solid #003c63;
}

#page-hierarchy li.active, #page-hierarchy li:hover {
    border-left: 4px solid #003c63;
}

#page-hierarchy li.active a, #page-hierarchy li:hover a {
    padding-left: 12px;
    color: #003c63 !important;
}

#page-hierarchy li:hover a, #page-hierarchy header:hover a {
    color: #003c63 !important;
}

#page-hierarchy header.nav-item:hover {
    border-left: 4px solid #003c63;
    padding-left: 10px;
    margin-left: -14px;
}

.is-pinned header {
    color: red !important;
}

/* COMPONENTS */

.description {
    border: #3765a3 solid 2px;
    box-shadow: 16px 16px 0 0 #3765a3;
}

.description dt {
    color: #003c63;
}


.highlight {
    /* display: inline; */
    /* padding: .25em 0; */
    /* background: #3765a3; */
    /* color: #ffffff; */
    /* box-shadow: .5em 0 0 #3765a3, -.5em 0 0 #3765a3; */
    /* background-image: linear-gradient(to right, #3765A3, #003c63); */
    background-color: #3765A3;
    border-radius: 3px;
    padding: 2px 4px;
    color: #ffffff;
    /* font-weight: bold; */
}

.highlight a {
    color: #ffffff !important;
}
