<div id="masthead">
  <div class="position-relative h-100">
    <div class="position-absolute top-50 start-50 translate-middle" style="margin-top:-80px;">
      <h1 class="mb-3 fw-semibold display-3">Fusce sagittis, libero non molestie mollis</h1>
      <p class="lead">
        Aliquam erat volutpat.  Nunc eleifend leo vitae magna.  In id erat non orci commodo lobortis.
      </p>

      <!-- Trigger search modal -->
      <div id="searchModalTrigger" class="input-group">
        <span class="input-group-text" data-bs-toggle="modal" data-bs-target="#searchModal" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
        <input type="text" class="form-control" data-bs-toggle="modal" data-bs-target="#searchModal" placeholder="Hľadaj" aria-label="Hľadaj" aria-describedby="basic-addon1" readonly>
      </div>
    </div>
  </div>
</div>

<div id="page-teasers" class="container" style="margin-top:-80px;">

  <div class="row">
    <div class="col">
      <div class="card h-100">
        <a href="{{ SITEURL }}/o-utecencoch">
          <div class="card-body">
            <h3 class="card-title text-center">O utečencoch</h3>
            <p class="card-text fs-5 text-center">Short summary explaining the contents of the subpage.</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col">
      <div class="card h-100" style="">
        <a href="{{ SITEURL }}/first-response">
          <div class="card-body">
            <h3 class="card-title text-center">First response</h3>
            <p class="card-text fs-5 text-center">Short summary explaining the contents of the subpage.</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col">
      <div class="card h-100" style="">
        <a href="{{ SITEURL }}/vzdelavanie">
        <div class="card-body">
          <h3 class="card-title text-center">Vzdelávanie</h3>
          <p class="card-text fs-5 text-center">Short summary explaining the contents of the subpage.</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row mt-4">
    <div class="col">
      <div class="card">
        <a href="{{ SITEURL }}/integracia">
          <div class="card-body">
            <h3 class="card-title text-center">Integrácia</h3>
            <p class="card-text fs-5 text-center">Short summary explaining the contents of the subpage.</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col">
      <div class="card h-100" style="">
        <a href="{{ SITEURL }}/zdroje">
          <div class="card-body">
            <h3 class="card-title text-center">Zdroje</h3>
            <p class="card-text fs-5 text-center">Short summary explaining the contents of the subpage.</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col">
      <div class="card h-100" style="">
        <a href="{{ SITEURL }}/info-zdroje">
          <div class="card-body">
            <h3 class="card-title text-center">O nás</h3>
            <p class="card-text fs-5 text-center">Short summary explaining the contents of the subpage.</p>
          </div>
        </a>
      </div>
    </div>

  </div>

  <div id="faq-container">
    <h2 class="fw-semibold display-6">Časté otázky</h2>
    <div class="accordion accordion-flush" id="accordionFaq">

      <!-- FIRST QUESTION -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="firstQuestionHeading">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#firstQuestionContent" aria-expanded="false" aria-controls="firstQuestionContent">
            <strong class="fs-5">Suspendisse potenti?</strong>
          </button>
        </h2>
        <div id="firstQuestionContent" class="accordion-collapse collapse" aria-labelledby="firstQuestionHeadning" data-bs-parent="#accordionFaq">
          <div class="accordion-body fs-5">
Nullam eu ante vel est convallis dignissim.  Fusce suscipit, wisi nec facilisis facilisis, est dui fermentum leo, quis tempor ligula erat quis odio.  Nunc porta vulputate tellus.  Nunc rutrum turpis sed pede.  Sed bibendum.  Aliquam posuere.  Nunc aliquet, augue nec adipiscing interdum, lacus tellus malesuada massa, quis varius mi purus non odio.  Pellentesque condimentum, magna ut suscipit hendrerit, ipsum augue ornare nulla, non luctus diam neque sit amet urna.  Curabitur vulputate vestibulum lorem.  Fusce sagittis, libero non molestie mollis, magna orci ultrices dolor, at vulputate neque nulla lacinia eros.  Sed id ligula quis est convallis tempor.  Curabitur lacinia pulvinar nibh.  Nam a sapien.
          </div>
        </div>
      </div>

      <!-- SECOND QUESTION -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="secondQuestionHeading">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#secondQuestionContent" aria-expanded="false" aria-controls="secondQuestionContent">
            <strong class="fs-5">Nunc porta vulputate tellus?</strong>
          </button>
        </h2>
        <div id="secondQuestionContent" class="accordion-collapse collapse" aria-labelledby="secondQuestionHeading" data-bs-parent="#accordionFaq">
          <div class="accordion-body fs-5">
Lorem ipsum dolor sit amet, consectetuer adipiscing elit.  Donec hendrerit tempor tellus.  Donec pretium posuere tellus.  Proin quam nisl, tincidunt et, mattis eget, convallis nec, purus.  Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.  Nulla posuere.  Donec vitae dolor.  Nullam tristique diam non turpis.  Cras placerat accumsan nulla.  Nullam rutrum.  Nam vestibulum accumsan nisl.
          </div>
        </div>
      </div>

      <!-- THIRD QUESTION -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="thirdQuestionHeading">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#thirdQuestionContent" aria-expanded="false" aria-controls="thirdQuestionContent">
            <strong class="fs-5">Donec pretium posuere tellus?</strong>
          </button>
        </h2>
        <div id="thirdQuestionContent" class="accordion-collapse collapse" aria-labelledby="thirdQuestionHeading" data-bs-parent="#accordionFaq">
          <div class="accordion-body fs-5">
            <p>
              Pellentesque dapibus suscipit ligula.  Donec posuere augue in quam.  Etiam vel tortor sodales tellus ultricies commodo.  Suspendisse potenti.  Aenean in sem ac leo mollis blandit.  Donec neque quam, dignissim in, mollis nec, sagittis eu, wisi.  Phasellus lacus.  Etiam laoreet quam sed arcu.  Phasellus at dui in ligula mollis ultricies.  Integer placerat tristique nisl.  Praesent augue.  Fusce commodo.  Vestibulum convallis, lorem a tempus semper, dui dui euismod elit, vitae placerat urna tortor vitae lacus.  Nullam libero mauris, consequat quis, varius et, dictum id, arcu.  Mauris mollis tincidunt felis.  Aliquam feugiat tellus ut neque.  Nulla facilisis, risus a rhoncus fermentum, tellus tellus lacinia purus, et dictum nunc justo sit amet elit.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.  Donec hendrerit tempor tellus.  Donec pretium posuere tellus.  Proin quam nisl, tincidunt et, mattis eget, convallis nec, purus.  Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.  Nulla posuere.  Donec vitae dolor.  Nullam tristique diam non turpis.  Cras placerat accumsan nulla.  Nullam rutrum.  Nam vestibulum accumsan nisl.
            </p>
          </div>
        </div>
      </div>

      <!-- FOURTH QUESTION -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="fourthQuestionHeading">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#fourthQuestionContent" aria-expanded="false" aria-controls="fourthQuestionContent">
            <strong class="fs-5">In id erat non orci commodo lobortis?</strong>
          </button>
        </h2>
        <div id="fourthQuestionContent" class="accordion-collapse collapse" aria-labelledby="fourthQuestionHeading" data-bs-parent="#accordionFaq">
          <div class="accordion-body fs-5">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.  Donec hendrerit tempor tellus.  Donec pretium posuere tellus.  Proin quam nisl, tincidunt et, mattis eget, convallis nec, purus.  Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.  Nulla posuere.  Donec vitae dolor.  Nullam tristique diam non turpis.  Cras placerat accumsan nulla.  Nullam rutrum.  Nam vestibulum accumsan nisl.
            </p>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>
