<footer class="govuk-footer " role="contentinfo">

  <div class="govuk-width-container ">

    <div class="govuk-footer__navigation">

      <div class="govuk-footer__section govuk-grid-column-full">
        <h2 class="govuk-footer__heading govuk-heading-m">Related resources</h2>

        <ul class="govuk-footer__list govuk-footer__list--columns-1">
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="#">
             Nunc eleifend leo vitae magna.
            </a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link" href="#">
              Nunc rutrum turpis sed pede.
            </a>
          </li>
        </ul>

      </div>

    </div>
    <hr class="govuk-footer__section-break">

    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <h2 class="govuk-visually-hidden">Support links</h2>
        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="#1">
              Help
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="#2">
              Cookies
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="#3">
              Contact
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="#4">
              Terms and conditions
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
