<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <title>{% block title %}{{ SITENAME }}{% endblock %}</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#0b0c0c">
  <meta name="description" content="{{ SITEDESCRIPTION }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon.ico" type="image/x-icon">
  <link rel="mask-icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/govuk-mask-icon.svg" color="#0b0c0c">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/govuk-apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/govuk-apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/govuk-apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/govuk-apple-touch-icon.png">

  <!-- BOOTSTRAP STYLES -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

  <!-- BOOTSTRAP TOC -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.css" />

  <!-- CUSTOM STYLES -->
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/integration.css" />

  <!-- STORK SEARCH STYLES -->
  <link rel="stylesheet" href="https://files.stork-search.net/basic.css" />

  {% block style %}
  {% endblock %}
</head>
<body data-bs-spy="scroll" data-bs-target="#toc">

  <header class="container">
    {% include "./partials/_site-header.html" %}
  </header>

  {% block content %}

  {% endblock %}

  <footer id="site-footer">
    {% include "./partials/_site-footer.html" %}
  </footer>

  {% block scripts %}
  <!-- JQuery -->
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/vendor/jquery-3.6.3.js"></script>

  <!-- BOOTSTRAP JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

  <!-- BOOTSTRAP TOC JS -->
  <script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.js"></script>

  <!-- PELICAN SEARCH PLUGIN JS -->
  <script src="https://files.stork-search.net/releases/v1.5.0/stork.js"></script>
  <script>
  stork.register("sitesearch", "{{ SITEURL }}/search-index.st")
  </script>
  {% endblock %}

</body>
</html>
