<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <title>{% block title %}{{ SITENAME }}{% endblock %}</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#0b0c0c">
  <meta name="description" content="{{ SITEDESCRIPTION }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon.ico" type="image/x-icon">
  <link rel="mask-icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/govuk-mask-icon.svg" color="#0b0c0c">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/govuk-apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/govuk-apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/govuk-apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/govuk-apple-touch-icon.png">

  <!-- BOOTSTRAP STYLES -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

  <!-- BOOTSTRAP TOC -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.css" />

  <!-- CUSTOM STYLES -->
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/integration.css" />

  <!-- STORK SEARCH STYLES -->

  {% block style %}
  {% endblock %}
</head>
<body data-bs-spy="scroll" data-bs-target="#toc">

  <header id="main-header">
    {% include "./partials/_site-header.html" %}
  </header>

  <aside id="sitesearch" class="px-4 py-5 my-2 d-none mt-0">
    <div class="container">
      <header><h2 class="data-toc-skip display-6 fw-semibold lh-1 mb-3">Vyhľadaj na integration.sk</h2></header>
      <div class="input-group">
        <input id="search-input" data-stork="sitesearch" class="form-control fs-4" type="text" placeholder="" aria-label="Search">
      </div>
      <div data-stork="sitesearch-output">
      </div>
    </div>
  </aside>

  {% block content %}

  {% endblock %}

  <footer id="site-footer" class="footer mt-auto py-3">
    {% include "./partials/_site-footer.html" %}
  </footer>

  {% block scripts %}
  <!-- JQuery -->
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/vendor/jquery-3.6.3.js"></script>

  <!-- BOOTSTRAP JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

  <!-- BOOTSTRAP TOC JS -->
  <script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.js"></script>

  <!-- PELICAN SEARCH PLUGIN JS -->
  <script src="https://files.stork-search.net/releases/v1.5.0/stork.js"></script>
  <script>
  stork.register("sitesearch", "{{ SITEURL }}/search-index.st")

  let searchContainer = document.getElementById("sitesearch"); // get a reference to search container p and cache it
  let searchIcons = document.getElementsByClassName("search-icon");
  let searchInput = document.getElementById("search-input");
  let searchButton = document.getElementById("search-btn");
  let mainNavBar = document.getElementById("main-nav");

  console.log(searchButton);

  let searchIsActive = false

  function toggleSearch() {
    searchContainer.classList.toggle("d-none"); // hide / show searchContainer

    // hide / show search icons
    Array.from(searchIcons).forEach(icon => {
      icon.classList.toggle("d-none");
    });

    if (searchIsActive) {
      searchIsActive = false;

      searchButton.classList.toggle("search-active");
      mainNavBar.classList.toggle("search-active");

      /* clear the input box when exitin search */
      searchInput.blur();
      searchInput.value = "";

      /* Clear search output when existing */
      let searchOutput = document.getElementsByClassName("stork-output-visible").item(0);
      if (searchOutput != null) {
        Array.from(searchOutput.children).forEach(element => element.remove());
      }
    } else {
      searchIsActive = true;
      searchInput.focus();
      searchButton.classList.toggle("search-active");
      mainNavBar.classList.toggle("search-active");
    }
  }

  document.getElementById('search-btn').addEventListener('click', toggleSearch); // add an event listener to the search button

  function createOrUpdateSearchEngineLink(e) {
    if (e.target.value) {
      let anchorNode = document.getElementById("se-link");
      let storkMessageNode = document.getElementsByClassName("stork-message")[0];
      if (anchorNode) {
        anchorNode.setAttribute("href", "https://www.google.com/search?q=site:https://neon-biscotti-ede8b9.netlify.app/ "  + e.target.value)
      } else {
        anchorNode = document.createElement("a");
        anchorNode.setAttribute("id", "se-link");
        anchorNode.setAttribute("href", "https://www.google.com/search?q=site:https://neon-biscotti-ede8b9.netlify.app/ "  + e.target.value);
        anchorNode.setAttribute("target", "blank")
        let textNode = document.createTextNode("Vyhľadaj cez google");
        anchorNode.appendChild(textNode);

        dividerNode = document.createElement("span");
        dividerNode.setAttribute("class", "ps-2 pe-2");
        dividerNode.appendChild(document.createTextNode("/"));

        storkMessageNode.appendChild(dividerNode);
        storkMessageNode.appendChild(anchorNode);
      }
    }
  }

  searchInput.addEventListener("input", createOrUpdateSearchEngineLink)

  </script>
  {% endblock %}

  <!-- Font awesome -->
  <script src="https://kit.fontawesome.com/b2fc40106a.js" crossorigin="anonymous"></script>

</body>
</html>
