{% extends "base.html" %}
{% block content %}

<main class="container col-xxl-8 px-3 px-sm-1 py-5 my-2">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-lg-5">
      <div class="col-12 col-lg-6">
        <img id="site-logo-big" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/sprievodca-logo.png" class="mx-auto d-block w-75 img-fluid" alt="." loading="lazy">
      </div>
      <div class="col-12 col-lg-6">
        <h1 class="display-4 fw-bold lh-1 mb-3">Integration</h1>
        <p class="fs-4" style="text-align: justify;">
          Táto webstránka je určená najmä samosprávam a ďalším aktérom, ktorí sa na lokálnej úrovni venujú téme začleňovania cudzincov, ale najmä ľudí na úteku (odídencov) do miestnych spoločenstiev. Jej obsah je dostupný aj v <a href="/static/publications/sprievodca_integraciou.pdf">pdf verzii</a>.
        </p>
        <div class="fs-4 d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="{{ SITEURL }}/o-nas">Viac o nás</a>
        </div>
      </div>
    </div>
</main>

<aside class="container overflow-hidden px-lg-4 py-5 my-5">
  <header><h2 class="display-6 mt-0 pt-0 fw-bold lh-1 mb-3">Sekcie</h2></header>
  <div class="row gx-4 gy-lg-4">

    <div class="col-lg-4">
      <section class="card feature mb-3">
        <div class="row g-0 gy-1">
          <div class="col-4 align-self-center p-4 p-lg-1">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/refugee.png" class="img-fluid rounded-start" alt="Two presons with baggage walking. Symbolic representation if refugees.">
          </div>
          <div class="col-8">
            <div class="card-body">
              <header><h3 class="fs-3 mt-0 mb-2 pt-0 fw-bold"><a href="{{ SITEURL }}/o-utecencoch">O utečencoch</a></h3></header>
              <p class="card-text">Vysvetlenia najdôležitejších pojmov. Kto sú utečenci, aké rôzne typy
                právnych statusov môžu mať, čo znamená dočasné útočisko, kto ho môže získať a aké práva prináša.</p>
            </div>
          </div>
        </div>
      </section>
    </div>


    <div class="col-lg-4">
      <section class="card feature mb-3">
        <div class="row g-0">
          <div class="col-4 align-self-center p-4 p-lg-1">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/integration.png" class="img-fluid rounded-start" alt="Four puzzle pieces. Symbolic representation of integration.">
          </div>
          <div class="col-8">
            <div class="card-body">
              <header><h3 class="fs-3 mt-0 mb-2 pt-0 fw-bold"><a href="{{ SITEURL }}/integracia">Integrácia</a></h3></header>
              <p class="card-text">Základné vysvetlenie procesu integrácie a návrhy integračných opatrení
                v oblasti vzdelávania, bývania, sociálnych vecí, zdravotnej starostlivosti a komunitných aktivít.</p>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="col-lg-4">
      <section class="card feature mb-3">
        <div class="row g-0">
          <div class="col-4 align-self-center p-4 p-lg-1">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/communication.png" class="img-fluid rounded-start" alt="Four abstract representaions of persons distributed along a circle, with speech bubbles occuring in its center. It's a representation of many sided communication.">
          </div>
          <div class="col-8">
            <div class="card-body">
              <header><h3 class="fs-3 mt-0 mb-2 pt-0 fw-bold"><a href="{{ SITEURL }}/komunikacia">Komunikácia</a></h3></header>
              <p class="card-text fs-6">O význame proaktívnej a vhodnej komunikácie témy integrácie k širokej verejnosti na
                lokálnej úrovni. Predstavujeme tiež návrhy komunikačných opatrení smerom k ľuďom na úteku.</p>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="col-lg-4">
      <section class="card feature mb-3">
        <div class="row g-0">
          <div class="col-4 align-self-center p-4 p-lg-1">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/knowledge.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-8">
            <div class="card-body">
              <header><h3 class="fs-3 mt-0 mb-2 pt-0 fw-bold"><a href="{{ SITEURL }}/poznanie-situacie">Poznanie situácie</a></h3></header>
              <p class="card-text">Pre tvorbu kvalitných politík je kľúčové poznať situáciu. V tejto sekcii sa dočítate o tom, akými
                rôznymi spôsobmi sa dajú zbierať dáta o cudzincoch a ľuďoch na úteku vo vašej lokalite.</p>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="col-lg-4">
      <section class="card feature mb-3">
        <div class="row g-0">
          <div class="col-4 align-self-center p-4 p-lg-1">
            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/education.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-8">
            <div class="card-body">
              <header><h3 class="fs-3 mt-0 mb-2 pt-0 fw-bold"><a href="{{ SITEURL }}/odborne-vzdelavanie">Odborné vzdelávanie</a></h3></header>
              <p class="card-text">Pracovníci samospráv potrebujú byť na prácu s ľuďmi z rôznych kultúrnych prostredí odborne
                pripravení. Tu sa dozviete, aké typy vzdelávania sú k dispozícii, prečo sú dôležité a kto vám s nimi
                môže pomôcť.</p>
            </div>
          </div>
        </div>
      </section>
    </div>

  </div>
</aside>

{% endblock %}
