{% extends "base.html" %}
{% block title %}{{ SITENAME }} - {{ page.title|striptags }}{%endblock%}

{% block content %}

<div class="container mt-5">

  <div class="row">
    {% if page.showpagehierarchy != 'False' %}
    <aside id="page-hierarchy" class="d-none d-lg-block col-2 order-1">
      {% include "./partials/_page-hierarchy-nav.html" %}
    </aside>
    {% endif %}

  <main class="col order-2">
    <div class="row">

      <!-- Page content -->
      <article id="page-content" class="col fs-5">
        <header>
          <h1 class="fs-1 fw-bold mb-3" data-toc-skip>{{ page.title }}</h1>
        </header>

        <!-- Responsive page toc -->
        {% if page.showtoc != 'False' %}
        <section id="toc-small" class="d-lg-none d-block mb-3">
          <header>
            <button id="tocToggleBtn" type="button" class="btn btn-outline-primary w-100 mt-2 mb-2 fw-bold" data-bs-toggle="button" autocomplete="off">
              Na tejto stránke
            </button>
          </header>
          <nav id="toc" data-toggle="toc" class="d-none fs-6 lh-s pt-2 pb-2 pe-2 ps-1"></nav>
        </section>
        {% endif %}

        {{ page.content }}
      </article>

      <!-- Page TOC -->
      {% if page.showtoc != 'False' %}
      <section class="col-3 d-lg-block d-none">
        <div class="sticky-top pt-3">
          <header>
            <h2 data-toc-skip class="fs-4 mt-0 mb-1 pt-0 fw-bold">Na tejto stránke</h2>
          </header>
          <nav id="toc" data-toggle="toc" class="fs-6 lh-s"></nav>
        </div>
      </section>
      {% endif %}

    </div>
  </main>
  </div>

</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
let tocSmallNav = document.querySelector("#toc-small nav");
document.getElementById("tocToggleBtn").addEventListener("click", function() {
  tocSmallNav.classList.toggle("d-none")
});
</script>
{% endblock %}
