<nav id="page-hierarchy-nav" class="pt-3 sticky-top">
  {% if page.parents %}
  <header class="nav-item">
    <h2 data-toc-skip class="fs-3 text-muted fw-bold"><a class="pt-2 pb-2 nav-link" href="{{ SITE_URL }}/{{ page.parents[0].url }}">{{ page.parents[0].title }}</a></h2>
  </header>

  {% set level = 0 %}

  <ul class="nav flex-column">
    {% for child in page.parents[0].children recursive %}
    <li class="nav-item {% if child.url == page.url %}active{% endif %} mb-1">
      <a class="fs-4 nav-link text-muted fw-bold lh-1" href="{{ SITE_URL }}/{{ child.url }}">{{ child.menutitle }}</a>
      {% if child.children and ( child.url == page.url or page.parents|map(attribute='url')|list()|select('equalto', child.url)|first() ) %}
      <ul style="padding-left:15px">
        {{ loop(child.children) }}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  {% else %}

  <header>
    <h2 data-toc-skip class="fs-3 fw-bold">Podstránky</h2>
  </header>
  <ul class="nav flex-column">
    {% for child in page.children %}
    <li class="nav-item mb-1"><a class="fs-4 text-muted fw-bold nav-link lh-1" href="{{ SITE_URL }}/{{ child.url }}">{{ child.menutitle }}</a></li>
    {% endfor %}
  </ul>

  {% endif %}
</nav>
