<nav id="main-nav" class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ SITEURL + '/' }}">Integration</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% for menuitem in MENUITEMS[1:] %}
        <li class="nav-item"><a class="nav-link" href="{{ menuitem[1] }}">{{ menuitem[0] }}</a></li>
        {% endfor %}
        <!-- <li class="nav-item">
             <a class="nav-link" href="https://www.facebook.com/CVEKsk/">
             <img width="25" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/facebook-icon-bw.png">
             </a>
             </li>

             <li class="nav-item">
             <a class="nav-link" href="https://www.facebook.com/CVEKsk/">
             <img width="25" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/twitter-icon-bw.png">
             </a>
             </li>


             <li class="nav-item">
             <a class="nav-link" href="https://www.facebook.com/CVEKsk/">
             <img width="25" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/vimeo-icon-bw.png">
             </a>
             </li>
        -->
      </ul>
      <div class="d-flex">

        <button id="search-btn" class="btn btn-outline-success" type="submit">
          <i class="search-icon fa-solid fa-magnifying-glass"></i>
          <svg class="search-icon d-none" height="0.8em" viewBox="0 0 23 24" xmlns="http://www.w3.org/2000/svg">
            <g fill="none" fill-rule="evenodd" stroke-linecap="round">
              <g transform="translate(-700 -149)" stroke="currentcolor" stroke-width="4">
                <line id="a" x1="702.5" x2="720" y1="152.5" y2="170"></line>
                <line transform="translate(711 161) rotate(-90) translate(-711 -161)" x1="702.5" x2="720" y1="152.5" y2="170"></line>
              </g>
            </g>
          </svg>
        </button>
      </div>
    </div>
  </div>
</nav>
