<nav id="main-nav" class="navbar navbar-expand-lg container">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold fs-3" href="{{ SITEURL + '/' }}">Integration</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        {% for menuitem in MENUITEMS[1:] %}
        <li class="nav-item"><a class="nav-link fw-bolder fs-6 {% if '/' + output_file == menuitem[1] + '/' + 'index.html' %}active{% endif %}" href="{{ menuitem[1] }}">{{ menuitem[0] }}</a></li>
        {% endfor %}
      </ul>

      <div class="d-flex mt-4 mt-lg-0 ms-auto me-auto">
        <a class="ms-lg-3 me-3" href="https://www.facebook.com/CVEKsk/">
          <i class="fa-brands fa-facebook fs-4" style="color:white"></i>
        </a>

        <a class="ms-3 me-3" href="https://twitter.com/CVEK_SK">
          <i class="fa-brands fa-twitter fs-4" style="color:white;"></i>
        </a>

        <a class="ms-3 me-3" href="https://vimeo.com/sk4all">
          <i class="fa-brands fa-vimeo-v fs-4" style="color:white;"></i>
        </a>

        <div class="d-flex ms-5 d-block d-lg-none">
          <button id="search-btn">
            <i class="search-icon fa-solid fa-magnifying-glass fs-4"></i>
            <i class="fa-solid fa-xmark search-icon d-none fs-4"></i>
          </button>
        </div>

      </div>

      <div class="d-flex d-none d-lg-block">
        <button id="search-btn">
          <i class="search-icon fa-solid fa-magnifying-glass fs-4"></i>
          <i class="fa-solid fa-xmark search-icon d-none fs-4"></i>
        </button>
      </div>

    </div>

  </div>
</nav>
