<nav id="main-nav" class="navbar navbar-expand-lg container">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold fs-3" href="{{ SITEURL + '/' }}">Integration</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link fw-bolder fs-6 {% if '/' + output_file == '/o-utecencoch/index.html' %}active{% endif %}" href="/o-utecencoch">O utečencoch</a></li>

        <li class="nav-item">
          <a class="nav-link fw-bolder fs-6 {% if '/' + output_file == '/integracia/index.html' %}active{% endif %}" href="/integracia">Integrácia</a>

          <!-- Integration subnav -->
          <ul class="nav d-lg-none {% if '/' + output_file == '/integracia/index.html' or '/' + output_file == '/integracia/kulturny-sok/index.html' or '/' + output_file == '/integracia/vzdelavanie-deti/index.html' or '/' + output_file == '/integracia/byvanie/index.html' or '/' + output_file == '/integracia/socialne-veci/index.html' or '/' + output_file == '/integracia/zdravotna-starostlivost/index.html'  or '/' + output_file == '/integracia/komunitne-aktivity/index.html' %}d-block{% else %}d-none{% endif %}">
            <li class="nav-item"><a class="nav-link fw-bolder {% if '/' + output_file == '/integracia/kulturny-sok/index.html' %}active{% endif %}" href="/integracia/kulturny-sok">Kultúrny šok</a></li>

            <li class="nav-item"><a class="nav-link fw-bolder {% if '/' + output_file == '/integracia/vzdelavanie-deti/index.html' %}active{% endif %}" href="/integracia/vzdelavanie-deti">Vzdelávanie detí</a></li>

            <li class="nav-item"><a class="nav-link fw-bolder {% if '/' + output_file == '/integracia/byvanie/index.html' %}active{% endif %}" href="/integracia/byvanie">Bývanie</a></li>

            <li class="nav-item"><a class="nav-link fw-bolder {% if '/' + output_file == '/integracia/socialne-veci/index.html' %}active{% endif %}" href="/integracia/socialne-veci">Sociálne veci</a></li>

            <li class="nav-item"><a class="nav-link fw-bolder {% if '/' + output_file == '/integracia/zdravotna-starostlivost/index.html' %}active{% endif %}" href="/integracia/zdravotna-starostlivost">Zdravie</a></li>

            <li class="nav-item"><a class="nav-link fw-bolder {% if '/' + output_file == '/integracia/komunitne-aktivity/index.html' %}active{% endif %}" href="/integracia/komunitne-aktivity">Komunita</a></li>
          </ul>

        </li>

        <li class="nav-item">
          <a class="nav-link fw-bolder fs-6 {% if '/' + output_file == '/komunikacia/index.html' %}active{% endif %}" href="/komunikacia">Komunikácia</a>

          <!-- Komunikacia subnav -->
          <!-- Integration subnav -->
          <ul class="nav d-lg-none {% if '/' + output_file == '/komunikacia/index.html' or '/' + output_file == '/komunikacia/komunikacia-odidenci/index.html' or '/' + output_file == '/komunikacia/komunikacia-verejnost/index.html' %}d-block{% else %}d-none{% endif %}">
            <li class="nav-item"><a class="nav-link fw-bolder {% if '/' + output_file == '/komunikacia/komunikacia-odidenci/index.html' %}active{% endif %}" href="/komunikacia/komunikacia-odidenci">Komunikácia s odídencami</a></li>

            <li class="nav-item"><a class="nav-link fw-bolder {% if '/' + output_file == '/komunikacia/komunikacia-verejnost/index.html' %}active{% endif %}" href="/komunikacia/komunikacia-verejnost">Komunikácia s verejnosťou</a></li>
          </ul>

        </li>

        <li class="nav-item"><a class="nav-link fw-bolder fs-6 {% if '/' + output_file == '/poznanie-situacie/index.html' %}active{% endif %}" href="/poznanie-situacie">Poznanie situácie</a></li>

        <li class="nav-item"><a class="nav-link fw-bolder fs-6 {% if '/' + output_file == '/odborne-vzdelavanie/index.html' %}active{% endif %}" href="/odborne-vzdelavanie">Odborné vzdelávanie</a></li>

        <li class="nav-item"><a class="nav-link fw-bolder fs-6 {% if '/' + output_file == '/o-nas/index.html' %}active{% endif %}" href="/o-nas">O nás</a></li>
      </ul>

      <div class="d-flex mt-4 mt-lg-0 ms-auto me-auto">
        <a class="ms-lg-3 me-3" href="https://www.facebook.com/CVEKsk/">
          <i class="fa-brands fa-facebook fs-4" style="color:white"></i>
        </a>

        <a class="ms-3 me-3" href="https://twitter.com/CVEK_SK">
          <i class="fa-brands fa-twitter fs-4" style="color:white;"></i>
        </a>

        <a class="ms-3 me-3" href="https://vimeo.com/sk4all">
          <i class="fa-brands fa-vimeo-v fs-4" style="color:white;"></i>
        </a>

        <div class="d-flex ms-5 d-block d-lg-none">
          <button id="search-btn">
            <i class="search-icon fa-solid fa-magnifying-glass fs-4"></i>
            <i class="fa-solid fa-xmark search-icon d-none fs-4"></i>
          </button>
        </div>

      </div>

      <div class="d-flex d-none d-lg-block">
        <button id="search-btn-lg">
          <i class="search-icon fa-solid fa-magnifying-glass fs-4"></i>
          <i class="fa-solid fa-xmark search-icon d-none fs-4"></i>
        </button>
      </div>

    </div>

  </div>
</nav>
