<div class="container">
  <div class="row pt-5 pb-3 mt-5">

    <div class="col-lg-4 mb-lg-3 mb-5">
      <div class="row" style="border:none">
        <div class="col-4">
          <div class="row" style="border:none">
            <a href="http://cvek.sk/" >
              <img class="w-100 pb-4" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/cvek-logo.png">
            </a>
          </div>
          <div class="row">
            <a class="img-link" href="http://cvek.sk/">
              <img class="w-100" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/spv-logo.png">
            </a>
          </div>
        </div>
        <div class="col-8">
          <p class="fs-6 text-muted">
            Táto webstránka je spravovaná nezávislou mimovládnou organizáciou <a href="http://cvek.sk/">CVEK</a> (Centrum pre výskum etnicity a
            kultúry).
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mb-lg-3 mb-5">
      <div class="row" style="border:none;">
        <div class="col">
          <a class="img-link" href="https://sk.usembassy.gov/">
            <img class="w-100" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/usembassy-logo.jpg">
          </a>
        </div>
        <div class="col">
          <p class="fs-6 text-muted">Táto webstránka bola vytvorená s podporou U.S. Embassy Bratislava.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mb-lg-3 mb-5">
      <div class="row" style="border:none">
        <div class="col-4">
          <img class="w-100" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/flaticon_logo.png">
        </div>
        <div class="col-8 text-muted fs-6">
          <span class="fw-bold">Flaticon attributions:</span> <a href="https://www.flaticon.com/free-icons/migration" title="migration icons">mangsaabguru</a>, <a href="https://www.flaticon.com/free-icons/integration" title="integration icons">Irfansusanto20</a>, <a href="https://www.flaticon.com/free-icons/knowledge" title="knowledge icons">Freepik</a>, <a href="https://www.flaticon.com/free-icons/education" title="education icons">Hexagon075</a>, <a href="https://www.flaticon.com/free-icons/dictionary" title="dictionary icons">lutfix</a>, <a href="https://www.flaticon.com/free-icons/conversation" title="conversation icons">winnievinzence</a>, <a href="https://www.flaticon.com/free-icons/meeting" title="meeting icons">photo3idea_studio</a>
        </div>
      </div>
    </div>

  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-auto">
      <a class="img-link pe-5" href="https://www.facebook.com/CVEKsk/">
        <img class="sicon" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/facebook-icon-bw.png">
      </a>

      <a class="img-link pe-5" href="https://twitter.com/CVEK_SK">
        <img class="sicon" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/twitter-icon-bw.png">
      </a>

      <a class="img-link pe-5" href="https://vimeo.com/sk4all">
        <img class="sicon" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/vimeo-icon-bw.png">
      </a>
    </div>
  </div>
</div>
