<div class="container">
  <div class="row py-5 my-5">
    <div class="col-3 mb-3">
      <section>
        <a href="http://cvek.sk/" class="pe-3">
          <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/cvek-logo.png">
        </a>

        <a href="http://cvek.sk/" class="ps-3">
          <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/spv-logo.png">
        </a>

        <p class="fs-6 text-muted pt-4 pb-4">
          Táto stránka je spravovaná nezávislou mimovládnou organizáciou <a href="http://cvek.sk/">CVEK</a> (Centrum pre výskum etnicity a
          kultúry).
        </p>

        <a  href="https://www.facebook.com/CVEKsk/" class="pe-5">
          <img class="sicon" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/facebook-icon-bw.png">
        </a>

        <a href="https://twitter.com/CVEK_SK" class="pe-5">
          <img class="sicon" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/twitter-icon-bw.png">
        </a>

        <a href="https://vimeo.com/sk4all">
          <img class="sicon" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/vimeo-icon-bw.png">
        </a>
      </section>
    </div>

    <div class="col-1"></div>

    <div class="col mb-3">
      <section>
        <h2 class="fs-5 fw-bold"><a href="/o-utecencoch">O utečencoch</a></h2>
      </section>
    </div>

    <div class="col mb-3">
      <h2 class="nav-item fs-5 fw-bold"><a href="/integracia">Integrácia</a></h2>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Kultúrny šok</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Vzdelávanie</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Bývanie</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Sociálne veci</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Zdravotná starostlivosť</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Komunitné aktivity</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h2 class="fs-5 nav-item fw-bold"><a href="/Komunikácia">Komunikácia</a></h2>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Komunikácia s odídencami</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Komunikácia s verejnosťou</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h2 class="fs-5 nav-item fw-bold"><a href="/poznanie-situacie">Poznanie situácie</a></h2>
    </div>

    <div class="col mb-3">
      <h2 class="fs-5 nav-item fw-bold"><a href="/odborne-vzdelavanie">Vzdelávanie</a></h2>
    </div>

  </div>
</div>
